#js-graphics.section.green.about
	.titulo
		h2 about me
		
	.about__graphics-cont
		
		.image-cont
			.image-frame
				img(src="https://www.macfound.org/media/staff_photos/Theo-Kalionzes.jpg", alt="")
				
		.graphics.bar-inipos

			.bar-container.bar-orange
				span web
				.bar-underline
					.bar-inside
			
			.bar-container.bar-green
				span brand
				.bar-underline
					.bar-inside
						
			.bar-container.bar-red
				span print
				.bar-underline
					.bar-inside
	
	.about__text-cont
		p I am a passionate graphic designer, with more than ten years of experience in the field of advertising, corporate and web design, publishing and teaching. With the use of graphical tools, web, 3d and multimedia.<br><br>Highlighted by the professionalism, responsibility and initiative with which I have developed each of the projects I have worked on. Always ready to evolve keeping up with the current of new technologies.
		
	.about__keywords
		span Adobe Illustrator
		span Adobe Photoshop
		span Adobe Indesign
		span HTML5
		span CSS3
		span JavaScript
		span jQuery
		span SASS
		span PUG.JS
		span GULP.JS
		span GIT
		span Adobe ExtendScript
		span CorelDRAW
		span Adobe Edge
		span Adobe Audition
		span Adobe After Efects
		span 3D Studio Max
		span V-ray
		span MaxScrpt
		
		
