.mail-section.orange
	a.mail-link(href="#") info@mauriciodesigner.com


//- .section.grey.contact
//- 	.titulo
//- 		h2 contact
//- 
//- 	form.form(action="")
//- 
//- 		.form__cont
//- 			.form__left-cont
//- 				input(type="text", placeholder="Name")
//- 
//- 				input(type="text", placeholder="E-Mail")
//- 
//- 			.form__rigth-cont
//- 				textarea(placeholder="Message")
//- 
//- 		.form__feedback
//- 			.feedback
//- 				p 
//- 
//- 			input.btn-form(type="submit", value="Send")
