header.header

	.header__logo-cont
		#header-bubble.header__logo__bubble
			span heeeeyyyyy, sup?
		include ../svg/logo.svg
	.header__content
		span.nombre MAURICIO SANTAELLA
		span portfolio
		span branding / print / web
