.skills
	.skills__item.red
		.item-inner-cont
			span branding
			.svg-holder
				include ../svg/icon-branding.svg
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
	.skills__item.green
		.item-inner-cont
			span editorial
			.svg-holder
				include ../svg/icon-editorial.svg
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
	.skills__item.orange
		.item-inner-cont
			span web
			.svg-holder
				include ../svg/icon-web.svg
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
